  /*font-family: 'Fredoka One', cursive;*/
:root{
  --super-light:     #E4D1B9  ;
  --light:     #8FBDD3  ;
  --light-dark:    #8a6343;
  --text: #BE8C63;
  --dark:     #4d3021;
  --filter: invert(63%) sepia(23%) saturate(731%) hue-rotate(345deg) brightness(89%) contrast(88%);
}
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--light);
  font-family: 'Fredoka One', cursive;
}
html{
  scroll-behavior: smooth; 
}
/*--------------------------------------header styles----------------------------------------*/

header .header_nav{
  position: fixed;
  z-index: 4;
  height: 3.5vw;
  width: 100%;
  background-color: var(--dark);
}
header .name_companie_nav{
  color: var(--text);
  font-size: 2vw;
  position: absolute;
  left: 12.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
header .about_me_nav{
  color: var(--text);
  padding: 0.5vw;
  border-radius: 50px;
  transition: background-color .4s ease, transform .4s;
  font-size: 1.25vw;
  position: absolute;
  left: 69.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.about_me_nav:hover{
  zoom: 1.05;
  color: var(--dark);
  background-color: var(--text)
}
header .skills_nav{
  color: var(--text);
  padding: 0.5vw;
  border-radius: 50px;
  transition: background-color .4s ease, transform .4s;
  font-size: 1.25vw;
  position: absolute;
  left: 78.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.skills_nav:hover{
  zoom: 1.1;
  color: var(--dark);
  background-color: var(--text)
}
header .contacts_nav{
  color: var(--text);
  padding: 0.5vw;
  border-radius: 50px;
  transition: background-color .4s ease, transform .4s;
  font-size: 1.25vw;
  position: absolute;
  left: 87.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.contacts_nav:hover{
  zoom: 1.1;
  color: var(--dark);
  background-color: var(--text)
}
header .background_for_my_name{
  position: absolute;
  z-index: 0.5;
  border-radius: 50%;
  top: 18vw;
  left: 28vw;
  transform: translate(-50%, -50%) rotate(-20deg);
  width: 43vw;
  height: 17vw;
  background-color: var(--dark);
}
.my_name{
	position: absolute;
  top: 20.5vw;
  left: 29.5vw;
  filter: var(--filter);
  transform: translate(-50%, -50%) rotate(-20deg);
	z-index: 1;
  height: 40vw;
  width: 40vw;
}
header .header{
  width: 100%;
}
header .height_of_header{
	height: 57vw;
}
header .conter_color_line{
  position: relative;
  top: -24vw;
  width: 100%;
  height: 80vh;
  background-color: var(--light-dark);
}
header .avatar{
	text-align: right;
  z-index: 2;
}
header .avatar_image{
	height: 60vw;
	width: auto;
  z-index: 2;
	object-fit: cover;
  border-radius: 10px;
}
header .avatar{
  position: relative;
	text-align: right;
  z-index: 2;
}
header .front-end_developer_text{
  position: absolute;
  top: 34vw;
  left: 7.5vw;
  z-index:3;
  font-size: 1vw;
  color: var(--dark);
}
header .avatar_image{
	height: 60vw;
	width: auto;
  z-index: 2;
	object-fit: cover;
  border-radius: 10px;
}
/*-------------------------------------main styles--------------------------------------------*/
main .background_main{
	min-height: 50vw;
	background-color: var(--super-light);
}

main .main_text{
  margin-left: 0vw;/*7.6vw*/
  margin-right: 0vw;
  color: var(--dark);
}
.room_background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  perspective: 460px;
  perspective-origin: 50% 57%;
  overflow: hidden;

}
.content {
  position: relative;
  transform-style: preserve-3d;
}
.frontWall {
  position: absolute;
  background-color: rgb(240, 240, 240);
  width: 33em;
  height: 14em;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) translateZ(-5em);
  z-index: 1;
}
 .leftWall{
  position: absolute;
  background-color: rgb(235, 233, 233);
  width: 14em;
  height: 14em;
  top: 50%;
  left:-22.5em;
  transform: translateY(-50%) rotateY(-90deg) rotateX(180deg) rotateZ(180deg);
  z-index: 2;
}
.rightWall{
  position: absolute;
  background-color: rgb(223, 223, 223);
  width: 14em;
  height: 14em;
  top: 50%;
  transform: translateY(-50%) rotateY(90deg) rotateX(180deg) rotateZ(180deg);
  left:8.5em;
  z-index: 2;
}
.languages_section{
  text-align: right;
  margin: 5vw 7vw 0vw 7vw;
}
.Languages_list{
  list-style-type: none;
}
.about_me{
  margin: 5vw;
}
.my_education_section{
  margin: 5vw 7vw 0vw 7vw;
}




main .skills_section{
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 4vw;
}
main .skills_div{
  width: 100%;
  height: 100%;
  padding: 2vh 0 2vh 0;
  background-color: var(--light);
  border-radius: 20px;
}
main .skills_h2{
  margin: 0px 0px 0px 4vh;
  text-align: left;
}
.list_of_skills > li::before{
  content: '<';
  color: var(--light-dark);
}
.list_of_skills > li::after{
  content: '>';
  color: var(--light-dark);
}
.list_of_skills li{
  display: inline;
  margin: 0 40px 0 40px;
}
.list_of_skills {
  list-style-type: none;
}



main .example_of_code_section{
  margin-left: 13vw;
  margin-right: 13vw;
  margin-bottom: 7vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  border-radius: 20px;
  background-color: var(--light);
}
main .example_of_code{
  display: flex;
  justify-content: center;
  align-items: center;
}
main .code_text{
  text-align: center;
}
main .contacts_section{
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 7vw;
  text-align: center;
}




main .projects_section{
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 7vw;
  text-align: center;
}
main .projects_list{
  margin-top: 5vw;
  display: grid;
  gap: 20vw;
  color: var(--text);
}
main .project1{
  width: 25vw;
  height: 16vw;
  background: var(--dark);
  grid-column-start: 1;
}
main .project2{
  width: 25vw;
  height: 16vw;
  background: var(--dark);
  grid-column-start: 2;
}
main .position_of_text_project{
  text-align: center;
  padding: 6.5vw;
}





main .contacts{
  list-style-type: none;
  font-size: 2vw;
}
main .link_to_discord{
  text-decoration: none;
  color: var(--dark);
}
.discord_icon{
  height: 2vw;
  width: auto;
  filter: invert(15%) sepia(72%) saturate(460%) hue-rotate(336deg) brightness(93%) contrast(86%);
}
.location_icon{
  height: 2vw;
  width: auto;
  filter: invert(15%) sepia(72%) saturate(460%) hue-rotate(336deg) brightness(93%) contrast(86%);
}
.email_icon{
  height: 2vw;
  width: auto;
  filter: invert(15%) sepia(72%) saturate(460%) hue-rotate(336deg) brightness(93%) contrast(86%);
}

main hr{
  border: 1px solid var(--dark);
  margin: 0.75vw;
}
/*-------------------------------------footer styles------------------------------------------*/
footer #footer{
  top: 100%;
  height: 100%;
	width: 100%;
}

.footer_information_end{
  position: relative;
  bottom: 0%;
  top: 100%;
  width: 100%;
  height: 4.7vw;
  background-color: var(--dark);
}
footer .name_companie{
  color: var(--text);
  font-size: 2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer .rsschool_logo{
	height: auto;
  width: 7%;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  filter: var(--filter);
}
footer .link_to_GitHub{
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
}
footer .year{
  color:var(--text);
  font-size: 1.1vw;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
}
footer .gitHub_picture{
	height: auto;
  width: 30%;
  filter: var(--filter);
}
